.list-image {
  text-align: left;
  margin-right: 100%
}

.text-n-img {
  height: 170px;
}

body {
  position: relative;
}

.g-l-card {
  background-color: #FFD940
}

.game-card:hover .g-l-card {
  background-color: rgb(210, 210, 210) !important;
  text-decoration: none;
}

.kw-list {
  height: 79.2px;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #FFD940
}

.btn-hover:hover {
  background-color: rgb(155, 155, 155)
}

.ell {
  margin: 1px !important;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}