.App {
  text-align: center;
}

.App-logo {
  border-radius: 15px;
  padding: 8px;
  /* animation: App-logo-spin infinite 10s cubic-bezier(0.5, 0.3, 0.2, 0.5); */
  height: 60px;
}

.App-header {
  background-color: #222;
  color: white;
}

.App-header a {
  color: white;
  padding: 0 10px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
