
.Select-control {
    background-color: lightyellow !important;
    color: black;
    border: 0;
    margin-top: 18px;
}

.Select-control:hover {
    background-color: lightblue !important;
    border: 0
}


.g-d-card, .game-lbl{
    background-color: white;
    padding-bottom: 0px;
}


